In [41]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

In [42]:
# Please upload the file titanic_train.csv to your environment
data = pd.read_csv('C:/Student/IRONHACK/Week7/D2/Labs/lab-t-tests-p-values/files_for_lab/machine.txt',sep= '\t')
data.head()

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5

In [43]:
mapping = {data.columns[0]: 'new', data.columns[1]: 'old'}
machines = data.rename(columns=mapping)
machines.head()

    new   old
0  42.1  42.7
1  41.0  43.6
2  41.3  43.8
3  41.8  43.3
4  42.4  42.5

### One tailed t-test  
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

In [44]:
st.ttest_ind(machines['new'], machines['old'], equal_var=False)

Ttest_indResult(statistic=-3.397230706117603, pvalue=0.0032422494663179747)

In [45]:
st.ttest_ind(machines['new'], machines['old'], equal_var=False)[1]/2

0.0016211247331589873

#### Result: p is low, and the statistic is going in the same direction than the null hypothesis. We reject the null hypothesis: the new machine is not faster than the old one!

### Matched Pairs Test
In this challenge we will compare dependent samples of data describing our Pokemon (file files_for_lab/pokemon.csv). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment your result.

In [46]:
data = pd.read_csv('C:/Student/IRONHACK/Week7/D2/Labs/lab-t-tests-p-values/files_for_lab/pokemon.csv')
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [47]:
data = data[['Attack','Defense']]

In [48]:
st.ttest_rel(data['Attack'], data['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

#### Result: p is high. We reject the null hypothesis: defense and attack are not equal!

## OPTIONAL PART | Inferential statistics - ANOVA

Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power.

In [49]:
data = pd.read_excel('C:/Student/IRONHACK/Week7/D2/Labs/lab-t-tests-p-values/files_for_lab/anova_lab_data.xlsx')
data.head()

  Power   Etching Rate
0  160 W          5.43
1  180 W          6.24
2  200 W          8.79
3  160 W          5.71
4  180 W          6.71

* State the null hypothesis

Changing the power of the plasma beam does not have any effect on the etching rate by the machine

* State the alternate hypothesis

Changing the power of the plasma beam does have an effect on the etching rate by the machine

* What is the significance level

5%

* What are the degrees of freedom of model, error terms, and total DoF

* Conduct ANOVA

In [50]:
mapping = {data.columns[0]: 'power', data.columns[1]: 'etching_rate'}
machine = data.rename(columns=mapping)
machine.head()

   power  etching_rate
0  160 W          5.43
1  180 W          6.24
2  200 W          8.79
3  160 W          5.71
4  180 W          6.71

In [52]:
machine['power'] = machine['power'].apply(lambda x: x.replace("W", '')).astype({'power':'float64'})

In [53]:
machine.dtypes

power           float64
etching_rate    float64
dtype: object

In [54]:
st.f_oneway(machine['power'],machine['etching_rate'])

F_onewayResult(statistic=1566.9439332870238, pvalue=3.9796826228307785e-26)

* What conclusions can you draw from the experiment and why?

#### Result: changing the power of the plasma beam does have an effect on the etching rate by the machine!