In [26]:
import pandas as pd

In [27]:
# To make run all you ask in one cell, not only the last required
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

#### 1. Show the dataframe shape.

In [28]:
# import data from link
url1 = 'https://raw.githubusercontent.com/ironhack-labs/lab-customer-analysis-round-2/master/files_for_lab/csv_files/marketing_customer_analysis.csv'
table1=pd.read_csv(url1)
table1.shape

(9134, 24)

#### 2. Standardize header names.

In [29]:
table1.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Response', 'Coverage',
       'Education', 'Effective To Date', 'EmploymentStatus', 'Gender',
       'Income', 'Location Code', 'Marital Status', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies', 'Policy Type',
       'Policy', 'Renew Offer Type', 'Sales Channel', 'Total Claim Amount',
       'Vehicle Class', 'Vehicle Size'],
      dtype='object')

#### 3. Numerical and categorical columns

In [30]:
table1._get_numeric_data()

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
0,2763.519279,56274,69,32,5,0,1,384.811147
1,6979.535903,0,94,13,42,0,8,1131.464935
2,12887.431650,48767,108,18,38,0,2,566.472247
3,7645.861827,0,106,18,65,0,7,529.881344
4,2813.692575,43836,73,12,44,0,1,138.130879
...,...,...,...,...,...,...,...,...
9129,23405.987980,71941,73,18,89,0,2,198.234764
9130,3096.511217,21604,79,14,28,0,1,379.200000
9131,8163.890428,0,85,9,37,3,2,790.784983
9132,7524.442436,21941,96,34,3,0,3,691.200000
9133,2611.836866,0,77,3,90,0,1,369.600000

In [31]:
table1.dtypes

Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim            int64
Months Since Policy Inception      int64
Number of Open Complaints          int64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
dtype: object

#### 4. Check and deal with NaN values

In [32]:
table1.isna().sum()

Customer                         0
State                            0
Customer Lifetime Value          0
Response                         0
Coverage                         0
Education                        0
Effective To Date                0
EmploymentStatus                 0
Gender                           0
Income                           0
Location Code                    0
Marital Status                   0
Monthly Premium Auto             0
Months Since Last Claim          0
Months Since Policy Inception    0
Number of Open Complaints        0
Number of Policies               0
Policy Type                      0
Policy                           0
Renew Offer Type                 0
Sales Channel                    0
Total Claim Amount               0
Vehicle Class                    0
Vehicle Size                     0
dtype: int64

#### 5. Datetime format
Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie Jan Feb and March

In [58]:
import time
from datetime import date
table1['date_time']= pd.to_datetime(table1['Effective To Date'], errors='coerce')
table1.shape
table1.dtypes

# Selection of the data for the first quarter
data_1stQ =table1.loc['1/01/11' : '3/31/11']
data_1stQ.shape

(9134, 25)

Customer                                 object
State                                    object
Customer Lifetime Value                 float64
Response                                 object
Coverage                                 object
Education                                object
Effective To Date                        object
EmploymentStatus                         object
Gender                                   object
Income                                    int64
Location Code                            object
Marital Status                           object
Monthly Premium Auto                      int64
Months Since Last Claim                   int64
Months Since Policy Inception             int64
Number of Open Complaints                 int64
Number of Policies                        int64
Policy Type                              object
Policy                                   object
Renew Offer Type                         object
Sales Channel                            object
Total Claim Amount                      float64
Vehicle Class                            object
Vehicle Size                             object
date_time                        datetime64[ns]
dtype: object

(2998, 25)

#### 6. Put all the previously mentioned data transformations into a function.

In [34]:
def whole_process (table1):
    shape = table1.shape
    types = pd.DataFrame(table1.dtypes)
    numeric_data = pd.DataFrame(table1._get_numeric_data())
    null_values = pd.DataFrame(table1.isna().sum()) 

    return shape, types, numeric_data.head(), null_values


whole_process (table1)

((9134, 25),
                                             0
 Customer                               object
 State                                  object
 Customer Lifetime Value               float64
 Response                               object
 Coverage                               object
 Education                              object
 Effective To Date                      object
 EmploymentStatus                       object
 Gender                                 object
 Income                                  int64
 Location Code                          object
 Marital Status                         object
 Monthly Premium Auto                    int64
 Months Since Last Claim                 int64
 Months Since Policy Inception           int64
 Number of Open Complaints               int64
 Number of Policies                      int64
 Policy Type                            object
 Policy                                 object
 Renew Offer Type                       object
 Sales Channel                          object
 Total Claim Amount                    float64
 Vehicle Class                          object
 Vehicle Size                           object
 date_time                      datetime64[ns],
    Customer Lifetime Value  Income  Monthly Premium Auto  \
 0              2763.519279   56274                    69
 1              6979.535903       0                    94
 2             12887.431650   48767                   108
 3              7645.861827       0                   106
 4              2813.692575   43836                    73

    Months Since Last Claim  Months Since Policy Inception  \
 0                       32                              5
 1                       13                             42
 2                       18                             38
 3                       18                             65
 4                       12                             44

    Number of Open Complaints  Number of Policies  Total Claim Amount
 0                          0                   1          384.811147
 1                          0                   8         1131.464935
 2                          0                   2          566.472247
 3                          0                   7          529.881344
 4                          0                   1          138.130879  ,
                                0
 Customer                       0
 State                          0
 Customer Lifetime Value        0
 Response                       0
 Coverage                       0
 Education                      0
 Effective To Date              0
 EmploymentStatus               0
 Gender                         0
 Income                         0
 Location Code                  0
 Marital Status                 0
 Monthly Premium Auto           0
 Months Since Last Claim        0
 Months Since Policy Inception  0
 Number of Open Complaints      0
 Number of Policies             0
 Policy Type                    0
 Policy                         0
 Renew Offer Type               0
 Sales Channel                  0
 Total Claim Amount             0
 Vehicle Class                  0
 Vehicle Size                   0
 date_time                      0)