In [78]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [79]:
# To make run all you ask in one cell, not only the last required
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [80]:
data = pd.read_csv('C:/Student/IRONHACK/Week7/Lessons/learningSet.csv')
data.head()
data.shape

C:\Users\besca\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A

(95412, 481)

#### Check for null values in all the columns

In [81]:
nulls_percent_df = pd.DataFrame(data.isna().sum()/len(data)).reset_index()
nulls_percent_df.columns = ['column_name', 'nulls_percentage']
nulls_percent_df

    column_name  nulls_percentage
0       ODATEDW          0.000000
1       OSOURCE          0.000000
2         TCODE          0.000000
3         STATE          0.000000
4           ZIP          0.000000
..          ...               ...
476    MDMAUD_R          0.000000
477    MDMAUD_F          0.000000
478    MDMAUD_A          0.000000
479    CLUSTER2          0.001383
480    GEOCODE2          0.001383

[481 rows x 2 columns]

#### Identify columns that over 85% missing values

In [82]:
columns_above_threshold = nulls_percent_df[nulls_percent_df['nulls_percentage']>0.85]
columns_above_threshold

    column_name  nulls_percentage
23      NUMCHLD          0.870184
412     RDATE_3          0.997464
413     RDATE_4          0.997055
414     RDATE_5          0.999906
415     RDATE_6          0.991867
416     RDATE_7          0.906773
419    RDATE_10          0.890360
422    RDATE_13          0.871609
424    RDATE_15          0.923888
426    RDATE_17          0.901469
429    RDATE_20          0.917327
430    RDATE_21          0.900296
432    RDATE_23          0.917631
434     RAMNT_3          0.997464
435     RAMNT_4          0.997055
436     RAMNT_5          0.999906
437     RAMNT_6          0.991867
438     RAMNT_7          0.906773
441    RAMNT_10          0.890360
444    RAMNT_13          0.871609
446    RAMNT_15          0.923888
448    RAMNT_17          0.901469
451    RAMNT_20          0.917327
452    RAMNT_21          0.900296
454    RAMNT_23          0.917631

#### Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:

* OSOURCE - symbol definitions not provided, too many categories
* ZIP CODE - we are including state already

In [83]:
drop_columns_list = list(columns_above_threshold['column_name'])
print(drop_columns_list)

['NUMCHLD', 'RDATE_3', 'RDATE_4', 'RDATE_5', 'RDATE_6', 'RDATE_7', 'RDATE_10', 'RDATE_13', 'RDATE_15', 'RDATE_17', 'RDATE_20', 'RDATE_21', 'RDATE_23', 'RAMNT_3', 'RAMNT_4', 'RAMNT_5', 'RAMNT_6', 'RAMNT_7', 'RAMNT_10', 'RAMNT_13', 'RAMNT_15', 'RAMNT_17', 'RAMNT_20', 'RAMNT_21', 'RAMNT_23']

In [84]:
for i in data[['OSOURCE','ZIP']]:
    drop_columns_list.append(i)

In [85]:
print(drop_columns_list)

['NUMCHLD', 'RDATE_3', 'RDATE_4', 'RDATE_5', 'RDATE_6', 'RDATE_7', 'RDATE_10', 'RDATE_13', 'RDATE_15', 'RDATE_17', 'RDATE_20', 'RDATE_21', 'RDATE_23', 'RAMNT_3', 'RAMNT_4', 'RAMNT_5', 'RAMNT_6', 'RAMNT_7', 'RAMNT_10', 'RAMNT_13', 'RAMNT_15', 'RAMNT_17', 'RAMNT_20', 'RAMNT_21', 'RAMNT_23', 'OSOURCE', 'ZIP']

#### Remove those columns from the dataframe

In [86]:
data = data.drop(columns=drop_columns_list)
data.shape

(95412, 454)

#### Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest. Note that there are a few null values in the column.

In [87]:
print(data['GENDER'].value_counts())

F    51277
M    39094
      2957
U     1715
J      365
A        2
C        2
Name: GENDER, dtype: int64

In [88]:
data['GENDER'] = data['GENDER'].fillna('F')

In [ ]:
# Option 1
# data['GENDER'] = data['GENDER'].apply(lambda x: x.replace('U', "other"))
# data['GENDER'] = data['GENDER'].apply(lambda x: x.replace('J', "other"))
# data['GENDER'] = data['GENDER'].apply(lambda x: x.replace('A', "other"))
# data['GENDER'] = data['GENDER'].apply(lambda x: x.replace('C', "other"))
# data['GENDER'] = data['GENDER'].apply(lambda x: x.replace(' ', "other"))

In [56]:
# Option 2
# def clean_gender(x):
#     if x == 'U':
#         return 'other'
#     elif x == 'J':
#         return 'other'
#     elif x == 'A':
#         return 'other'
#     elif x == 'C':
#         return 'other'
#     elif x == ' ':
#         return 'other'
#     else:
#         return x

In [89]:
# Option 3
def clean_gender(x):
    if (x == 'U') or (x =='J') or (x== 'A') or (x=='C') or (x== ' '):
        return 'other'
    else:
        return x

In [90]:
data['GENDER']= data['GENDER'].apply(clean_gender)

In [91]:
data['GENDER'].value_counts()

F        51277
M        39094
other     5041
Name: GENDER, dtype: int64